---
# this is an empty front matter
---
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<title>Company</title>
		<!---------------------------------- Google Fonts, Bootstrap, Style Sheet, etc. -------------------------------->
		{% include strings.html %}
		<!-------------------------------------------------------------------------------------------------------------->
	</head>

	<body>
		<main>
			<div class="container-fluid">
				<!---------------------------------- Navigation Bar -------------------------------->
				 {% include includenav.html %}
				<!---------------------------------- Navigation Bar -------------------------------->
			</div>
			<div class="container">
				<br />
				<p><h2>Company</h2></p>
				<hr />
				<p><h5>Nascent Stage Research and Development was born out of a simple vision: Teaming university autism researchers with software developers and experts in clinical applications, video games, social media apps and mobile devices. We have PhDs working with skateboarders. It’s like “Mozart meets Metallica”. Different tastes in music but all are experts with a shared passion to develop unique ways to help individuals with autism.</h5></p>
		 		<p>Nascent Stage Research and Development (NSR&D) is comprised of four wholly owned and discrete units that share the same mission.</p>
		 		<p>		
		 			<ul>
						<li>iSocial: 32 university research and evidence based group intervention sessions delivered in a virtual environment
						<li>iSocial Adventures: The home version of the virtual world plus short form You Tube like video adventures
						<li>PANDA: The first biomarker for autism that allows pediatricians to scan very accurately for autism in children as early as 12 months old.
						<li>Routine Success: We use an Apple Series 3+ watch for children with ASD to keep then in virtual touch with parents via geofencing, heart monitoring, push routine reminders and students reporting back during the day.
					</ul>
				</p>
				<!----------------------------------- END ----------------------------------->
			</div>
		</main>
		{% include includefooter.html %}
	</body>
</html>

