---
# this is an empty front matter
---
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<title>Company</title>
	<!---------------------------------- Google Fonts, Bootstrap, Style Sheet, etc. -------------------------------->
	{% include strings.html %}
	<!-------------------------------------------------------------------------------------------------------------->
</head>

<body>
	<main>
		<div class="container-fluid">
		<!---------------------------------- Navigation Bar -------------------------------->
		 {% include includenav.html %}
		<!---------------------------------- Navigation Bar -------------------------------->
		</div>
		<div class="container">
			<p><h2>Contact</h2></p>
			<hr />
	 		<p><h5>Nascent Stage Research and Development is a select team of university autism researchers, technology innovators and entrepreneurial leaders who are committed to radically improving the lives of people with autism.</h5></p>
	 		<p>We are a Kansas City based company with virtual team members across the country. Our mission is to radically improve the way people with autism live by combining innovative university research with cutting edge technologies.</p>
			<p>Feel free to connect with us at <a href="mailto:info@isocl.net">info@isocl.net</a>.</p>
			<!----------------------------------- END ----------------------------------->
		</div>
	</main>
	{% include includefooter.html %}		
</body>
</html>

