---
# this is an empty front matter
---
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<title>Partners</title>
		<!---------------------------------- Google Fonts, Bootstrap, Style Sheet, etc. -------------------------------->
		{% include strings.html %}
		<!-------------------------------------------------------------------------------------------------------------->
	</head>
	<body>
		<main>
			<div>
			<!---------------------------------- Navigation Bar -------------------------------->
			 {% include includenav.html %}
			<!---------------------------------- Navigation Bar -------------------------------->
			</div>
			<div role="main" class="container">
				<p><h2>Partners</h2></p>
				<!----------------------------------- Section ----------------------------------->
				<div class="card" style="background-color: #EFEFEF;">
				  <p class="text-center"><img src="images/LOGO-UnivMOThompson.svg" class="card-img-top" alt="..." style="max-width: 800px"></p>
				  <div class="card-body">
				    <p class="card-text">The university has granted Nascent Stage Development an exclusive, 99-year license to the intellectual property that we use to create, deliver and update our iSocial program.</p>
				  </div>
				</div>
				<!----------------------------------- Setion ----------------------------------->
				<div class="card" style="background-color: #EFEFEF;">
				  <span class="text-center"><img src="images/LOGO-SandboxCo.svg" class="card-img-top" alt="..." style="max-width: 350px"></span>
				  <div class="card-body">
				    <p class="card-text">
				    	Sandbox & Co is a millennial marketing and education company made up of award-winning products, platforms and brands purchased from Pearson Learning including, Poptropica, TeacherVision, FamilyEducation and more. One of the two founders of Sandbox & Co is on the NSD board. In 2017, iSocial executed an exclusive contract with Sandbox & Co to market the iSocial solution for special education to their customers. By co-promoting with Sandbox the iSocial brand will be presented to over 20 million children, teachers and parents worldwide every month.
				    </p>
				     <div class="container">
					    <div class="row">
						    <div class="col-md-4"><img src="images/LOGO-Teachervision.svg" class="card-img-top" alt="..." style="max-width: 300px"></div>
						    <div class="col-md-4"><img src="images/LOGO-FamilyEducation.svg" class="card-img-top" alt="..." style="max-width: 300px"></div>
						    <div class="col-md-4"><img src="images/LOGO-Poptropica.svg" class="card-img-top" alt="..." style="max-width: 300px"></div>
						</div>
					</div>
				  </div>
				</div>
				<!----------------------------------- Section ----------------------------------->
				<div class="card" style="background-color: #EFEFEF;">
				     <div class="container">
			  			<div class="card-body">
						    <div class="row">
							    <div class="col-md-6 text-center"><img src="images/Logo-UMKCMed.svg" class="card-img-top" alt="..." style="max-width: 250px;"></div>
							    <div class="col-md-6 text-center"> <img src="images/Logo-TMC.svg" class="card-img-top" alt="..." style="max-width: 250px;"></div>
							</div>
						</div>
					</div>
				</div>
				<!----------------------------------- Section ----------------------------------->
				<div class="card" style="background-color: #EFEFEF;">
				     <div class="container">
			  			<div class="card-body">
						    <div class="row">
							    <div class="col-md-6 text-center"><img src="images/LOGO-ArtLogic.svg" class="card-img-top" alt="..." style="max-width: 350px"></div>
							    <div class="col-md-6 text-center"> <img src="images/LOGO-CodeKoalas.png" class="card-img-top" alt="..." style="max-width: 350px"></div>
							</div>
						</div>
					</div>
				</div>
				<!----------------------------------- END ----------------------------------->
			</div>
			<br />
		</main>
		{% include includefooter.html %}
	</body>
</html>

