---
# this is an empty front matter
---
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<title>iSocial</title>
	<!---------------------------------- Google Fonts, Bootstrap, Style Sheet, etc. -------------------------------->
	{% include strings.html %}
	<!-------------------------------------------------------------------------------------------------------------->
</head>

<body>
	<div class="container-fluid">
	<!---------------------------------- Navigation Bar -------------------------------->
	 {% include includenav.html %}
	<!---------------------------------- Navigation Bar -------------------------------->
	<main class="container">
		<!----------------------------------- Partner Card ----------------------------------->
	<div class="row text-white align-items-center" style="background: linear-gradient(rgba(247, 209, 147, 0.85), rgba(247, 209, 147, 0.85)), url('images/PH-IS-Kids.jpg'); background-size: 100% auto; background-repeat: no-repeat; min-height: 500px; background-size: cover;">
		<div class="col-lg-1"></div>
		<div class="col-lg-10 p-4">
      		<p class="head text-right">iSocial</p>
      		<p class="sub text-center text-dark">iSocial is a special needs virtual learning environment which will significantly help children with ASD develop their social skills.</p>
      		<p class="sub text-center"><img src="images/Logo-iSocialMark.svg" class="card-img-top" alt="..." style="max-width: 150px"></p>
	    </div>
	    <div class="col-lg-1"></div>

		<div class="container">
			<div class="row mx-lg-5">
				<div class="col-lg-6 text-center text-dark p-5" style="border-right: 1px solid white;">
					<p><img src="images/Logo-UnivMO2.svg" class="card-img-top" alt="..." style="max-width: 250px"></p>
				  	<p>Over the past 7 years and with $12m in grants, The University of Missouri developed a 32 intervention program called iSocial.</p>
				</div>
				<div class="col-lg-6 text-center text-dark p-5">
					<p><img src="images/IC-Graph.svg" class="card-img-top" alt="..." style="max-width: 75px"></p>
				  	<p>The program is evidence based and 7 independent university studies show “significant” improvement in helping children with Autism Spectrum Disorder (ASD).<p>
				</div>
			</div>
		</div>
  	</div>
		<!----------------------------------- Partner Card ----------------------------------->
	<div class="row text-white align-items-center" style="background: linear-gradient(rgba(247, 209, 147, 0.65), rgba(247, 209, 147, 0.65)), url('images/PH-IS-Mother.jpg'); background-size: 100% auto; background-repeat: no-repeat; min-height: 500px; background-size: cover;">
		<div class="col-lg-1"></div>
		<div class="col-lg-10">
      		<p class="head text-right">iSocial</p>
      		<p class="sub text-center text-dark">Children with autism need to learn how to interact with their peers in order to develop social skills, but too much interaction in an unfamiliar environment can be overstimulating.</p>
      	</div>
		<div class="container">
			<div class="row">
				<div class="col-lg-6 text-center text-dark p-5" style="border-right: 1px solid white;">
					<img src="images/IC-35.svg" class="card-img-top" alt="..." style="max-width: 150px">
				  	<p>MILLION CHILDREN HAVE BEEN DIAGNOSED WITH AUTISM IN THE USA</p>
				</div>
				<div class="col-lg-6 text-center text-dark p-5">
					<img src="images/IC-80.svg" class="card-img-top" alt="..." style="max-width: 200px">
				  	<p>OF ADULTS WITH ASD ARE UNEMPLOYED<p>
				</div>

			</div>


	    </div>
  	</div>
		<!----------------------------------- Partner Card ----------------------------------->
		<div class="row text-white align-items-center" style="background: linear-gradient(rgba(247, 209, 147, 0.95), rgba(247, 209, 147, 0.95)); background-size: 100% auto; background-repeat: no-repeat; min-height: 500px; background-size: cover;">
			<div class="col-lg-1"></div>
			<div class="col-lg-10 p-4">
	      		<p class="head text-right">iSocial</p>
	      		<p class="sub text-center text-dark">"Our autistic employees achieve, on average, 48% to 140% more work than their typical colleagues.... People with autism are employable."</p>
	      		<p class="sub text-right text-dark">-JPMorgan Chase</p>
	      	</div>
			<div class="container">
				<div class="row">
					<div class="col-lg-2 text-center p-4">
						<img src="images/Logo-SAP.svg" class="card-img-top" alt="..." style="max-width: 75px">
					</div>
					<div class="col-lg-2 text-center p-4">
						<img src="images/Logo-Microsoft.svg" class="card-img-top" alt="..." style="max-width: 100px">
					</div>
					<div class="col-lg-2 text-center p-4">
						<img src="images/Logo-DXC.svg" class="card-img-top" alt="..." style="max-width: 100px">
					</div>
					<div class="col-lg-2 text-center p-4">
						<img src="images/Logo-Ford.svg" class="card-img-top" alt="..." style="max-width: 100px">
		
					</div>
					<div class="col-lg-2 text-center p-4">
						<img src="images/Logo-EY.svg" class="card-img-top" alt="..." style="max-width: 50px">
					 
					</div>
					<div class="col-lg-2 text-center p-4">
						<img src="images/Logo-JPMorgan.svg" class="card-img-top" alt="..." style="max-width: 200px">
	
					</div>
				</div>
		    </div>
	  	</div>
		<!----------------------------------- Section Break ----------------------------------->
		<!--
		<div class="row text-white align-items-center bg-dark" style="background: linear-gradient(rgba(247, 209, 147, 0.75), rgba(247, 209, 147, 0.75)); background-size: 100% auto; background-repeat: no-repeat; min-height: 250px; background-size: cover;">
			<div class="container p-4">
				<div class="row">
					<div class="col-lg-4 text-center p-4" style="border-right: 1px solid white;">
						<p><img src="images/IC-Doc.svg" class="card-img-top" alt="..." style="max-height: 75px"></p>
					  	<p>ISOCIAL<br />EXECUTIVE SUMMARY</p>
					  	<a class="btn btn-primary bc01" href="docs/iSocial - Exec Summary.pdf" role="button" target="new">PDF</a></p>
					</div>
					<div class="col-lg-4 text-center p-4" style="border-right: 1px solid white;">
						<p><img src="images/IC-Docs.svg" class="card-img-top" alt="..." style="max-height: 75px"></p>
					  	<p>ISOCIAL<br />CONCEPT PAPER<p>
					  	<a class="btn btn-primary bc01" href="docs/iSocial - Concept Paper.pdf" role="button" target="new">PDF</a></p>
					</div>
					<div class="col-lg-4 text-center p-4">
						<p><img src="images/IC-Binders.svg" class="card-img-top" alt="..." style="max-height: 75px"></p>
					  	<p>ISOCIAL<br />BUSINESS PLAN<p>
					  	<a class="btn btn-primary bc01" href="docs/iSocial - Business Plan.pdf" role="button" target="new">PDF</a></p>
					</div>
				</div>
		    </div>
	  	</div>
	  -->
		<!----------------------------------- END ----------------------------------->

	</main>
	<!-- BOOTSTRAP:  Required Links -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
	<div>
</body>
</html>

