---
# this is an empty front matter
---
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<title>PANDA</title>
	<!---------------------------------- Google Fonts, Bootstrap, Style Sheet, etc. -------------------------------->
	{% include strings.html %}
	<!-------------------------------------------------------------------------------------------------------------->
</head>

<body>
	<main>
		<div>
			<!---------------------------------- Navigation Bar -------------------------------->
			 {% include includenav.html %}
			<!---------------------------------- Navigation Bar -------------------------------->
		</div>
		<div role="main" class="container">
			<!----------------------------------- Partner Card ----------------------------------->
		<div class="row text-white align-items-center" style="background: linear-gradient(rgba(231, 107, 85, 0.85), rgba(231, 107, 85, 0.85)), url('images/IMG - 02.jpg'); background-size: 100% auto; background-repeat: no-repeat; min-height: 500px; background-size: cover;">
			<div class="offset-sm-1 col-sm-10">
	      		<p class="head text-right">Project PLR</p>
	      		<p class="h1 text-center">Project PLR provides a simple way for pediatricians to screen for the risk of developmental disorders, including Autism Spectrum Disorder (ASD), in children as young as twelve months of age.</p>
		    </div>
			<div class="container p-4">
				<div class="row mx-md-5">
					<div class="col-sm-6 text-center p-5" style="border-right: 1px solid white;">
						<img src="images/ic-eye.svg" class="card-img-top" alt="..." style="max-width: 100px">
					  	<p class="p-3">There are two patents on a device that uses near infrared to measure how a pupil reacts to a flashing light.</p>
					</div>
					<div class="col-sm-6 text-center p-5">
						<img src="images/ic-eye.svg" class="card-img-top" alt="..." style="max-width: 100px">
					  	<p class="p-3">Extensive lab tests at the Thompson Center for Autism shows high accuracy in detecting autism as early as twelve months in age.<p>
					</div>
				</div>
			</div>
	  	</div>
			<!----------------------------------- Partner Card ----------------------------------->
		<div class="row text-white align-items-center" style="background: linear-gradient(rgba(231, 107, 85, 0.65), rgba(231, 107, 85, 0.65)), url('images/P01-01.jpg'); background-size: 100% auto; background-repeat: no-repeat; min-height: 500px; background-size: cover;">
			<div class="offset-sm-1 col-sm-10">
	      		<p class="head text-right">Project PLR</p>
	      		<p class="h1 text-center">This has huge implications in helping children through early intervention.</p>
	      	</div>
			<div class="container p-4">
				<div class="row">
					<div class="col-sm-6 text-center p-5" style="border-right: 1px solid white;">
						<img src="images/ic-Doctor.svg" class="card-img-top" alt="..." style="max-width: 100px">
					  	<p class="p-3">Interventions implemented before age three are associated with significant gains in cognition, language, and adaptive behavior.</p>
					</div>
					<div class="col-sm-6 text-center p-5">
						<img src="images/ic-Pharm.svg" class="card-img-top" alt="..." style="max-width: 100px">
					  	<p class="p-3">Collectively, this evidence suggests that early diagnosis and intervention are imperative in the long-term trajectories and quality of life for children with ASD.<p>
					</div>

				</div>


		    </div>
	  	</div>
			<!----------------------------------- Partner Card ----------------------------------->
		<div class="row text-white align-items-center" style="background: linear-gradient(rgba(231, 107, 85, 0.65), rgba(231, 107, 85, 0.65)), url('images/P01-02.jpg'); background-size: 100% auto; background-repeat: no-repeat; min-height: 500px; background-size: cover;">
			<div class="offset-sm-1 col-sm-10 p-4">
	      		<p class="head text-right">Project PLR</p>
	      		<p class="h1 text-center">Dr. Anderson was the first to report on an enlarged tonic pupil size and decreased phasic response to human faces in ASD.</p>
	      	</div>
			<div class="container p-4">
				<div class="row">
					<div class="col-sm-4 text-center p-4" style="border-right: 1px solid white;">
						<img src="images/ic-Document.svg" class="card-img-top" alt="..." style="max-width: 25px" />
					  	<p class="p-3">“Pupil and salivary indicators of autonomic dysfunction in autism spectrum disorder.”</p>
					</div>
					<div class="col-sm-4 text-center p-4" style="border-right: 1px solid white;">
						<img src="images/ic-Document.svg" class="card-img-top" alt="..." style="max-width: 25px" />
					  	<p class="p-3">“Visual scanning and pupillary responses in young children with autism spectrum disorder.”</p>
					</div>
					<div class="col-sm-4 text-center p-4" style="border-right: 1px solid white;">
						<img src="images/ic-Document.svg" class="card-img-top" alt="..." style="max-width: 25px" />
					  	<p class="p-3">“Larger tonic pupil size in young children with autism spectrum disorder.”</p>
					</div>
				</div>
		    </div>
	  	</div>
		<!----------------------------------- END ----------------------------------->
	</main>
	<!---------------------------------- Page Footer START -------------------------------->
	{% include includefooter.html %}
	<!---------------------------------- Page Footer END ---------------------------------->
</body>
</html>

