---
# this is an empty front matter
---
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<title>Product 01</title>
	<!---------------------------------- Google Fonts, Bootstrap, Style Sheet, etc. -------------------------------->
	{% include strings.html %}
	<!-------------------------------------------------------------------------------------------------------------->
</head>

<body>
	<div class="container-fluid">
	<!---------------------------------- Navigation Bar -------------------------------->
	 {% include includenav.html %}
	<!---------------------------------- Navigation Bar -------------------------------->
	<main class="container">
		<!----------------------------------- Partner Card ----------------------------------->
	<div class="row text-white align-items-center" style="background: linear-gradient(rgba(223, 68, 68, 0.85), rgba(223, 68, 68, 0.85)), url('images/PH-Watch.jpg'); background-size: 100% auto; background-repeat: no-repeat; min-height: 500px; background-size: cover;">
		<div class="offset-sm-1 col-sm-10 p-4">
      		<p class="head text-right">Routine Success</p>
      		<p class="sub text-center">Routine Success is an app for the Apple Watch that can bring routines to aid a child in staying focused and organized, particularly at school.</p>
      		<p class="sub text-center"><img src="images/Icon-RS-Watch.svg" class="card-img-top" alt="..." style="max-width: 80px"></p>
	    </div>

		<div class="container p-4">
			<div class="row">
				<div class="col-sm-6 text-center p-5" style="border-right: 1px solid white;">
					<img src="images/Icon-RS-Finger.svg" class="card-img-top" alt="..." style="max-width: 80px">
				  	<p>Routine Success allows parents to build a virtual schedule for a child’s day. </p>
				</div>
				<div class="col-sm-6 text-center p-5">
					<img src="images/Icon-RS-AlarmCal.svg" class="card-img-top" alt="..." style="max-width: 150px">
				  	<p>The smartwatch then vibrates gently to prompt the child to take particular actions throughout the day.<p>
				</div>
			</div>
		</div>
  	</div>
		<!----------------------------------- Partner Card ----------------------------------->
	<div class="row text-white align-items-center" style="background: linear-gradient(rgba(223, 68, 68, 0.65), rgba(223, 68, 68, 0.65)), url('images/PH-RS-Girl.jpg'); background-size: 100% auto; background-repeat: no-repeat; min-height: 500px; background-size: cover;">
		<div class="offset-sm-1 col-sm-10 p-4">
      		<p class="head text-right">Routine Success</p>
      		<p class="sub text-center">Children with ASD need a routine to follow, crave a repetitive structure, and may have very high anxiety and fear of attending school.</p>
      	</div>
	    <div class="col-sm-1"></div>

		<div class="container">
			<div class="row">
				<div class="col-sm-6 text-center p-4" style="border-right: 1px solid white;">
					<img src="images/Icon-Alarm.svg" class="card-img-top" alt="..." style="max-width: 100px">
				  	<p>Kids with neurological conditions like ADHD and High-Functioning Autism tend to do well with regular routines and sometimes need reminders</p>
				</div>
				<div class="col-sm-6 text-center p-4">
					<img src="images/Icon-Head.svg" class="card-img-top" alt="..." style="max-width: 100px">
				  	<p>While Mom & Dad can serve that purpose at home, a busy teacher can’t really fill that role at school<p>
				</div>

			</div>


	    </div>
  	</div>
		<!----------------------------------- Partner Card ----------------------------------->
		<div class="row text-white align-items-center" style="background: linear-gradient(rgba(223, 68, 68, 0.95), rgba(223, 68, 68, 0.95)); background-size: 100% auto; background-repeat: no-repeat; min-height: 500px; background-size: cover;">
			<div class="offset-sm-1 col-sm-10 p-4">
	      		<p class="head text-right">Routine Success</p>
	      		<p class="sub text-center">I developed Routine Success because I saw firsthand how regular routines can help young people with conditions like Autism Spectrum Disorder and ADHD be more productive, confident, and independent throughout the day.</p>
	      	</div>
		    <div class="col-sm-1"></div>

			<div class="container p-4">
				<div class="row">
					<div class="col-sm-1 offset1"></div>
					<div class="col-sm-2 text-center p-4" style="border-right: 1px solid white;">
						<img src="images/IC-RS-A.svg" class="card-img-top" alt="..." style="max-width: 100px">
					  	<p>Doesn’t require child to have a smartphone at school</p>
					</div>
					<div class="col-sm-2 text-center p-4" style="border-right: 1px solid white;">
						<img src="images/IC-RS-B.svg" class="card-img-top" alt="..." style="max-width: 100px">
					  	<p>Simple and easy to use<p>
					</div>
					<div class="col-sm-2 text-center p-4" style="border-right: 1px solid white;">
						<img src="images/IC-RS-C.svg" class="card-img-top" alt="..." style="max-width: 100px">
					  	<p>Required hardware is not cost prohibitive<p>
					</div>
					<div class="col-sm-2 text-center p-4" style="border-right: 1px solid white;">
						<img src="images/IC-RS-D.svg" class="card-img-top" alt="..." style="max-width: 100px">
					  	<p>Never forgets<p>
					</div>
					<div class="col-sm-2 text-center p-4">
						<img src="images/IC-RS-E.svg" class="card-img-top" alt="..." style="max-width: 100px">
					  	<p>Doesn’t raise social stigma (it’s a popular watch)<p>
					</div>
				</div>
		    </div>
	  	</div>
		<!----------------------------------- Section Break ----------------------------------->
		<div class="row text-white align-items-center" style="background: linear-gradient(rgba(223, 68, 68, 0.75), rgba(223, 68, 68, 0.75)); background-size: 100% auto; background-repeat: no-repeat; min-height: 250px; background-size: cover;">
			<div class="container p-4">
				<div class="row">
					<div class="col-sm-4 text-center p-4" style="border-right: 1px solid white;">
						<img src="images/Logo-w2b.svg" class="card-img-top" alt="..." style="max-width: 200px">
					  	<p>FEATURED IN SILICON PRAIRIE NEWS</p>
					</div>
					<div class="col-sm-4 text-center p-4" style="border-right: 1px solid white;">
						<img src="images/Logo-SiliconPrairieNews.svg" class="card-img-top" alt="..." style="max-width: 200px">
					  	<p>FEATURED AT ONE MILLION CUPS<p>
					</div>
					<div class="col-sm-4 text-center p-4">
						<img src="images/Logo-1MC.svg" class="card-img-top" alt="..." style="max-width: 200px">
					  	<p>FEATURED AT WHITEBOARD 2 BOARDROOM<p>
					</div>
				</div>
		    </div>
	  	</div>
		<!----------------------------------- END ----------------------------------->

	</main>
	<!-- BOOTSTRAP:  Required Links -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
	<div>
</body>
</html>

