---
# this is an empty front matter
---
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<title>Routine Success</title>
	<!---------------------------------- Google Fonts, Bootstrap, Style Sheet, etc. -------------------------------->
	{% include strings.html %}
	<!-------------------------------------------------------------------------------------------------------------->
</head>

<body>
	<main>
		<div>
		<!---------------------------------- Navigation Bar START -------------------------------->
		 {% include includenav.html %}
		<!---------------------------------- Navigation Bar END -------------------------------->
		</div>
		<div role="main" class="container">
			<!----------------------------------- Partner Card ----------------------------------->
		<div class="row text-white align-items-center" style="background: linear-gradient(rgba(75, 129, 132, 1), rgba(75, 129, 132, 1)); background-size: 100% auto; background-repeat: no-repeat; min-height: 500px; background-size: cover;">
			<div class="offset-sm-1 col-sm-10 p-4">
	      		<p class="head text-right">iSocial Adventures</p>
	      		<p class="h1 text-center">A library of web-based interventions for parents: VLE, animations, short-form video with parent guides and real-time communication</p>
	      
	      		<p class="sub text-center p-4"><img src="images/Logo-ISO.svg" class="card-img-top" alt="..." style="max-width: 280px"></p>
		    </div>

			<div class="container p-4">
				<div class="row">
					<div class="col-sm-6 text-center p-5">
						
					  	<p class="p-4">The iSocial Home Adventures program for parents and students will offer brief games and exercises presented in a 3D world.</p>
					</div>
					<div class="col-sm-6 text-center p-5">
						
					  	<p class="p-4">These games and exercises will allow students to independently explore and learn while maintaining a relationship with their avatar.<p>
					</div>
				</div>
			</div>
	  	</div>
		<!----------------------------------- Section Break ----------------------------------->
			<!----------------------------------- END ----------------------------------->
		</main>
		<!---------------------------------- Page Footer START -------------------------------->
		{% include includefooter.html %}
		<!---------------------------------- Page Footer END ---------------------------------->
	</body>
</html>

