---
# this is an empty front matter
---
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<title>Product 01</title>
	<!---------------------------------- Google Fonts, Bootstrap, Style Sheet, etc. -------------------------------->
	{% include strings.html %}
	<!-------------------------------------------------------------------------------------------------------------->
</head>

<body>
	<div class="container-fluid">
	<!---------------------------------- Navigation Bar -------------------------------->
	 {% include includenav.html %}
	<!---------------------------------- Navigation Bar -------------------------------->
	<main class="container">
		<!----------------------------------- Partner Card ----------------------------------->
	<div class="row text-white align-items-center" style="background: linear-gradient(rgba(231, 107, 85, 0.85), rgba(231, 107, 85, 0.85)), url('images/IMG - 02.jpg'); background-size: 100% auto; background-repeat: no-repeat; min-height: 500px; background-size: cover;">
		<div class="offset-sm-1 col-sm-10">
      		<p class="head text-right">PANDA</p>
      		<p class="sub text-center">PANDA provides a simple way for pediatricians to screen for the risk of developmental disorders, including Autism Spectrum Disorder (ASD), in children as young as three months of age.</p>
	    </div>
		<div class="container p-4">
			<div class="row mx-md-5">
				<div class="col-sm-6 text-center p-5" style="border-right: 1px solid white;">
					<img src="images/ic-eye.svg" class="card-img-top" alt="..." style="max-width: 100px">
				  	<p>There are two patents on a device that uses near infrared to measure how a pupil reacts to a flashing light.</p>
				</div>
				<div class="col-sm-6 text-center p-5">
					<img src="images/LOGO-PANDA.svg" class="card-img-top" alt="..." style="max-width: 250px">
				  	<p>Extensive lab tests at the Thompson Center for Autism shows high accuracy in detecting autism as early as six months in age.<p>
				</div>
			</div>
		</div>
  	</div>
		<!----------------------------------- Partner Card ----------------------------------->
	<div class="row text-white align-items-center" style="background: linear-gradient(rgba(231, 107, 85, 0.65), rgba(231, 107, 85, 0.65)), url('images/P01-01.jpg'); background-size: 100% auto; background-repeat: no-repeat; min-height: 500px; background-size: cover;">
		<div class="offset-sm-1 col-sm-10">
      		<p class="head text-right">PANDA</p>
      		<p class="sub text-center">This has huge implications in helping children through early intervention.</p>
      	</div>
		<div class="container p-4">
			<div class="row">
				<div class="col-sm-6 text-center p-5" style="border-right: 1px solid white;">
					<img src="images/ic-Doctor.svg" class="card-img-top" alt="..." style="max-width: 100px">
				  	<p>Interventions implemented before age four are associated with significant gains in cognition, language, and adaptive behavior.</p>
				</div>
				<div class="col-sm-6 text-center p-5">
					<img src="images/ic-Pharm.svg" class="card-img-top" alt="..." style="max-width: 100px">
				  	<p>Collectively, this evidence suggests that early diagnosis and intervention are imperative in the long-term trajectories and quality of life for children with ASD.<p>
				</div>

			</div>


	    </div>
  	</div>
		<!----------------------------------- Partner Card ----------------------------------->
	<div class="row text-white align-items-center" style="background: linear-gradient(rgba(231, 107, 85, 0.65), rgba(231, 107, 85, 0.65)), url('images/P01-02.jpg'); background-size: 100% auto; background-repeat: no-repeat; min-height: 500px; background-size: cover;">
		<div class="offset-sm-1 col-sm-10 p-4">
      		<p class="head text-right">PANDA</p>
      		<p class="sub text-center">Dr. Anderson was the first to report on an enlarged tonic pupil size and decreased phasic response to human faces in ASD.</p>
      	</div>
		<div class="container p-4">
			<div class="row">
				<div class="col-sm-4 text-center p-4" style="border-right: 1px solid white;">
					<img src="images/ic-Document.svg" class="card-img-top" alt="..." style="max-width: 25px">
				  	<p>“Pupil and salivary indicators of autonomic dysfunction in autism spectrum disorder.”</p>
				</div>
				<div class="col-sm-4 text-center p-4" style="border-right: 1px solid white;">
					<img src="images/ic-Document.svg" class="card-img-top" alt="..." style="max-width: 25px">
				  	<p>“Visual scanning and pupillary responses in young children with autism spectrum disorder.”<p>
				</div>
				<div class="col-sm-4 text-center" style="border-right: 1px solid white;">
					<img src="images/ic-Document.svg" class="card-img-top" alt="..." style="max-width: 25px">
				  	<p>“Larger tonic pupil size in young children with autism spectrum disorder.”<p>
				</div>
			</div>
	    </div>
  	</div>
		<!----------------------------------- END ----------------------------------->

	</main>
	<!-- BOOTSTRAP:  Required Links -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
	<div>
</body>
</html>

