---
layout: default
---
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>

	<title>Team</title>
	<!---------------------------------- Google Fonts, Bootstrap, Style Sheet, etc. -------------------------------->
	{% include strings.html %}
	<!-------------------------------------------------------------------------------------------------------------->
</head>

<body>
	<div class="container-fluid">
	<!---------------------------------- Navigation Bar -------------------------------->
	 {% include includenav.html %}
	<!---------------------------------------------------------------------------------->
	</div>	
	<main class="container">
		<p><h4>Team</h4></p>
		<hr />
		<h5>There are 30 of us on the NSR&D team and no two are alike. This includes nine PhDs with over 200 peer reviewed technical articles on autism. We are also entrepreneurs and programmers. Combined, our companies have created hundreds of millions of dollars in annualized revenue. Startups include education, mental health and electronic health record solutions. One startup created a high-level Python web framework now used by  programmers globally. Another has 60 million monthly users in 200 countries for their educational video games. </h5>
		<hr />
		<!----------------------------------- Team Member Cards ----------------------------------->
		<div class="card mb-3">
		  <div class="row no-gutters">
		    <div class="col-md-4">
		      <img src="images/HS-BobEtzel-F.jpg" class="card-img-top" alt="...">
		    </div>
		    <div class="col-md-8">
		      <div class="card-body">
		        <h5 class="card-title">Bob Etzel</h5>
		        <h6 class="card-subtitle mb-2 text-muted">CEO and Founder</h6>
		        <p class="card-text">Bob has over 25 years of experience as president or owner of a preeminent training company focusing on emerging communications and information technologies. He is also known for his work in six successful startup companies, three of which are focusing on mental health solutions. Bob is known for recruiting top national talent in his efforts to create innovative healthcare solutions. His core competence is being the first to introduce new disruptive technologies to solve traditional healthcare problems. Projects include introducing modern wireless communications to the People’s Republic of China for Motorola, developing and deploying the first weapons of mass destruction and mass decontamination training for the 74 hospitals in the City of New York following September 11th 2001 and supporting the University of Kansas’ work in developing prescriptive e-learning for children with disabilities.</p>
		      </div>
		    </div>
		  </div>
		</div>
		<!----------------------------------- Team Member Cards ----------------------------------->
		<div class="card mb-3">
		  <div class="row no-gutters">
		    <div class="col-md-4">
		      <img src="images/HS-WayneMorgan-F.jpg" class="card-img-top" alt="...">
		    </div>
		    <div class="col-md-8">
		      <div class="card-body">
		        <h5 class="card-title">Wayne Morgan, PhD</h5>
		        <h6 class="card-subtitle mb-2 text-muted">Partner / Advisor</h6>
		        <p class="card-text">Wayne Morgan, Ph.D. served as Chief Operating Officer and a Partner at Netchemia, a K-12 Talent Management SaaS software company, for 10+ years. During his tenure, the company experienced dramatic growth, ultimately serving over 2,500 school districts across 47 states. In this role, Dr. Morgan led two add-on acquisitions, a private equity investment from Mainsail Partners, and the eventual sale of the firm to Vista Equity Partners in early 2015.</p>
				<p>Previously, he served as Chief Information Officer (CIO) for MRI Global. Earlier, he was a Partner and Vice President at Black & Veatch, a global engineering construction and technology company, for over twenty years.</p>
				<p>Dr. Morgan currently is Director of the Growth Mentoring Service at the Enterprise Center in Johnson County (ECJC), a team mentoring program developed and practiced at MIT. He is also the Vice-Chairman of the ECJC Board of Directors and an active angel investor in the Mid-America Angels. He serves in Advisory and Board member roles for three Kansas City area technology startups.</p>
		      </div>
		    </div>
		  </div>
		</div>
		<!----------------------------------- Team Member Cards ----------------------------------->
		<div class="card mb-3">
		  <div class="row no-gutters">
		    <div class="col-md-4">
		      <img src="images/HS-JeffBlackwood-F.jpg" class="card-img-top" alt="...">
		    </div>
		    <div class="col-md-8">
		      <div class="card-body">
		        <h5 class="card-title">Jeff Blackwood</h5>
		        <h6 class="card-subtitle mb-2 text-muted">Chief Product Officer</h6>
		        <p class="card-text">Jeff manages the design and delivery of the iSocial solution. Jeff previously served as the CEO and Founder of Pathfinder Health Innovations, a national provider of autism therapy and insurance billing software. Jeff has been honored with the Microsoft Health Innovation Award, named a Healthcare Transformer by Startup Health, recognized as a Kauffman Foundation Top EdTech Connector, and as a member of HEMP and PIPELINE entrepreneurial organizations. Jeff currently serves on committees with the Autism Society of America and the Kansas City Area Life Sciences Institute, and is participating in autism research projects with Children’s Mercy Hospital.</p>
		      </div>
		    </div>
		  </div>
		</div>
		<!----------------------------------- Team Member Cards ----------------------------------->

		<div class="card mb-3">
		  <div class="row no-gutters">
		    <div class="col-md-4">
		      <img src="images/HS-MegganGriggs-F.jpg" class="card-img-top" alt="...">
		    </div>
		    <div class="col-md-8">
		      <div class="card-body">
		        <h5 class="card-title">Meggan Griggs</h5>
		        <h6 class="card-subtitle mb-2 text-muted">Vice President of Operations</h6>
		        <p class="card-text">Prior to being Vice President of Operations at iSocial, Meggan served as the Vice President of Operations for a nationally known new media company. Her career has included executive level positions at a technology training company, educational software development and marketing, and major account management. Meggan has also served as a lobbyist working to promote vocational education. She started her career with the US Department of Commerce where she helped introduce broadband learning services to libraries across the United States.</p>
		      </div>
		    </div>
		  </div>
		</div>

		<!----------------------------------- Team Member Cards ----------------------------------->

		<div class="card mb-3">
		  <div class="row no-gutters">
		    <div class="col-md-4">
		      <img src="images/HS-EricDiebold-F.jpg" class="card-img-top" alt="...">
		    </div>
		    <div class="col-md-8">
		      <div class="card-body">
		        <h5 class="card-title">Eric Diebold</h5>
		        <h6 class="card-subtitle mb-2 text-muted">Partner / Creative</h6>
		        <p class="card-text">Eric Diebold is a skilled UX Designer and web savvy entrepreneur with a passion for compelling design. With his experience innovating within a high-growth startup and his skills in product design, product development, and client services, Eric brings a wide breadth of knowledge and insight to iSocial.</p>
				<p>Prior to his involvement with iSocial, Eric functioned as the Lead UX Designer for PeopleAdmin, which he joined in 2015 as part of the sale of the company he co-founded, Netchemia. At Netchemia, one of the leading technology companies in K-12 education in the country, he led the initial efforts in the areas of client services, project management, brand management, usability design, and client training. </p>
		      </div>
		    </div>
		  </div>
		</div>

		<!----------------------------------- Team Member Cards ----------------------------------->

		<div class="card mb-3">
		  <div class="row no-gutters">
		    <div class="col-md-4">
		      <img src="images/HS-JanineStichter-F.jpg" class="card-img-top" alt="...">
		    </div>
		    <div class="col-md-8">
		      <div class="card-body">
		        <h5 class="card-title">Janine Stichter, PhD</h5>
		        <h6 class="card-subtitle mb-2 text-muted">Professor, University of Missouri</h6>
		        <p class="card-text">Dr. Stichter is a Professor in the Department of Special Education and has worked with schools and students with autism and behavioral needs for over 25 years. She is the creator of iSocial. Everything from the objectives for the program to the 32 lessons themselves came from Janine.</p>
		        <p>Dr. Stichter presents nationally and conducts research in the following areas: Implementation science, social competence and the antecedent strategies. She has published over 80 peer-reviewed articles, provided over 120 national and international presentations and has received over $12 Million in federal grants including the Institute of Educational Sciences and National Institute of Health as Principal Investigator and Co-Investigator.</p>
		      </div>
		    </div>
		  </div>
		</div>

		<!----------------------------------- Team Member Cards ----------------------------------->

		<div class="card mb-3">
		  <div class="row no-gutters">
		    <div class="col-md-4">
		      <img src="images/HS - Christa Anderson.jpg" class="card-img-top" alt="...">
		    </div>
		    <div class="col-md-8">
		      <div class="card-body">
		        <h5 class="card-title">Christa J. Anderson, PhD</h5>
		        <h6 class="card-subtitle mb-2 text-muted">Research Psychologist, University of Missouri</h6>
		        <p class="card-text">
				Dr. Anderson is a research psychologist from the University of Kansas with over 15 years of experience investigating neurocognitive development in young children with autism spectrum disorder (ASD).  She was the first scientist to report altered pupillary reactivity in those with the disorder.  Since her initial finding in 2006, Dr. Anderson has extended her research to investigate pupillary responses as a potential early biomarker of ASD.  She has also extended her work to investigate specific brainstem regions used to control pupillary reactivity along with their neurochemical correlates in those with ASD to provide a path to improved pharmacological treatment.
				</p>
				<p>
				Dr. Anderson has several first-author publications on pupillary reactivity and eye-tracking in ASD.  She worked closely with her colleagues at the University of Kansas to co-author a number of other publications on the use of eye-tracking in receptive language assessment, and on attentional and cognitive development in typically developing children.  Additionally, she has co-authored a number of book chapters and encyclopedia entries on child development.  She is excited to bring her knowledge and experience in research and specifically pupillary reactivity in ASD to collaborate on new technologies with the iSocial team. 
		        </p>
		      </div>
		    </div>
		  </div>
		</div>

		<!----------------------------------- Team Member Cards ----------------------------------->

		<div class="card mb-3">
		  <div class="row no-gutters">
		    <div class="col-md-4">
		      <img src="images/HS - Tom Frazier.jpg" class="card-img-top" alt="...">
		    </div>
		    <div class="col-md-8">
		      <div class="card-body">
		        <h5 class="card-title">Thomas Frazier II, PhD</h5>
		        <h6 class="card-subtitle mb-2 text-muted">Chief Science Officer</h6>
		        <p class="card-text">
					I am currently the Chief Scientific Officer at Nascent Stage Research and Development, along with a VisitingFaculty Member at the Thompson Center for Autism and Neurodevelopmental Disorders at the University of Missouri Columbia (MU). I was the first scientist to report atypical tonic and phasic pupillary responses in young children with autism spectrum disorder (ASD) using an eye tracking system. This work initiated scientific interest in pupillary responses in ASD by other lab groups, including Dr. Gary Yao’s lab at MU. I have also continued investigation along this line of inquiry with the ultimate goal of being able to utilize pupillary responses as an early biomarker of ASD. In 2018 I merged my research with Dr. Yao’s lab at MU with the goal of combining my expertise in eye tracking and pupillary responses in ASD, with pupillary light reflex (PLR) measures to examine the combined power of these measures to predict ASD diagnosis and symptom severity in infancy. 
					<p>We are also honored to be joined by Dr. Thomas Frazier, who is the Chief Scientific Officer for Autism Speaks, as he brings his eye tracking experience with large-scale ASD samples to our team. The combined experience of this research team will allow us to successfully bring to market the first biometric screening tool for ASD. Biometric screening of ASD will provide invaluable improvement over current subjective measures. This will provide an objective tool to easily and quickly screen for ASD, overcoming current barriers to ASD-specific screening in pediatric settings and ultimately reducing the age of ASD diagnosis to enable children to begin treatment before 3 years of age.
		        </p>
		      </div>
		    </div>
		  </div>
		</div>

		<!----------------------------------- Team Member Cards ----------------------------------->

		<div class="card mb-3">
		  <div class="row no-gutters">
		    <div class="col-md-4">
		      <img src="images/HS - Jon Ulasien.jpg" class="card-img-top" alt="...">
		    </div>
		    <div class="col-md-8">
		    	<div class="card-body">
		      		<h5 class="card-title">Jon Ulasien</h5>
		        	<h6 class="card-subtitle mb-2 text-muted">Multimedia Designer</h6>
		        	<p class="card-text">
					Located in Kansas City, MO, Jon Ulasien is a versatile multimedia artist who specializes in film, photography, animation and design. With over a decade of experience in his fields, Jon brings a unique, creative vision to iSocial Adventures; conceptualizing characters and environments designed to engage children and parents and bringing those ideas to life. 
		        	</p>
		      </div>
		    </div>
		  </div>
		</div>

		<!----------------------------------- Team Member Cards ----------------------------------->

		<div class="card mb-3">
		  <div class="row no-gutters">
		    <div class="col-md-4">
		      <img src="images/HS - Dr Keenan Stump.jpg" class="card-img-top" alt="...">
		    </div>
		    <div class="col-md-8">
		    	<div class="card-body">
		      		<h5 class="card-title">Dr. Keenan Stump</h5>
		        	<h6 class="card-subtitle mb-2 text-muted">Speech Language Pathologist and Researcher</h6>
		        	<p class="card-text">
					Dr. Keenan Stump and his colleague Dr. Matthew Braun create all of the parent guides and exercises for the iSocial Home program. Keenan is a licensed speech-language pathologist and researcher with more than fifteen years of experience providing services to individuals diagnosed with autism spectrum disorder (ASD) and various developmental delays. In addition to his clinical experiences, Dr. Stump has taught graduate courses about evidence-based services related to ASD in the speech pathology programs at Bloomsburg University (Bloomsburg, PA), Rockhurst University (Kansas City, MO), and the University of Kansas (Lawrence, KS).</p>
					<p>His primary research interests focus on creating innovative approaches for individuals with ASD and their families that work toward maximizing community involvement, independence, and social interaction skills. Dr. Stump was honored as one of three speech pathologists in the state appointed to the Missouri Autism Guidelines Initiative (MAGI), a project derived from a recommendation of the Missouri Blue Ribbon Panel on Autism to adopt screening, diagnosis, assessment, and treatment standards.  The resulting publications, Autism Spectrum Disorders: Guide to Evidence-based Interventions and Autism Spectrum Disorders: Missouri Best Practice Guidelines for Screening, Diagnosis, and Assessment are currently available online, along with overviews for families, clinicians, and educators.
		        	</p>
		      </div>
		    </div>
		  </div>
		</div>

		<!----------------------------------- Team Member Cards ----------------------------------->

		<div class="card mb-3">
		  <div class="row no-gutters">
		    <div class="col-md-4">
		      <img src="images/HS -  Dr Matthew J Braun.jpg" class="card-img-top" alt="...">
		    </div>
		    <div class="col-md-8">
		    	<div class="card-body">
		      		<h5 class="card-title">Dr. Matthew J. Braun</h5>
		        	<h6 class="card-subtitle mb-2 text-muted">Speech Language Pathologist</h6>
		        	<p class="card-text">
					Dr. Matthew J. Braun is a licensed speech-language pathologist with more than fifteen years of experience serving individuals and families affected by autism spectrum disorders and other developmental disabilities. Dr. Braun has worked in the public schools, the Therapy Services Department at St. Louis Children’s Hospital, and the University of Kansas Center for Child Health and Development where he worked on an autism diagnostic team and served as the Assistant Training Director for the Leadership Education in Neurodevelopmental and Related Disabilities (LEND) program.</p>
					<p>Currently Dr. Braun works in his private practice, Speech and Language Solutions LLC and maintains an affiliate faculty appointment at the University of Kansas. Dr. Braun’s research interests include family centered care, using a “strengths based” approach to serving families, and the use of telemedicine for underserved populations. Dr. Braun has taught courses in Autism and Systems Leadership at Rockhurst University and the University of Kansas Medical Center, provided trainings to state and local providers, and given presentations at local, regional, and national conferences. Dr. Braun has co-authored several research articles on these topics and has co-authored a chapter in an autism text book for Occupational Therapists.
		        	</p>
		      </div>
		    </div>
		  </div>
		</div>

		<!----------------------------------- Team Member Cards ----------------------------------->

		<div class="card mb-3">
		  <div class="row no-gutters">
		    <div class="col-md-4">
		      <img src="images/HS-JamesLaffey.jpg" class="card-img-top" alt="...">
		    </div>
		    <div class="col-md-8">
		    	<div class="card-body">
		      		<h5 class="card-title">James Laffey</h5>
		        	<h6 class="card-subtitle mb-2 text-muted">Professor Emeritus, University of Missouri</h6>
		        	<p class="card-text">
					James Laffey is Professor Emeritus in the School of Information Science and Learning Technologies at the University of Missouri. Jim was responsible for creating the virtual reality iSocial environment based on Janine Stichter’s SCI program.  He earned his Ph.D. from the University of Chicago. Prior to MU, Laffey worked for Apple Computer, Inc. conducting research on learning and support systems and developing award winning interactive learning systems and innovative performance support systems.<p>
					<p>Since coming to MU, Laffey has been the PI for grants of nearly $10 million and a collaborator on grants of an additional $4 million. Laffey has developed learning and support systems for enabling Internet-based journaling for teacher education, for high school students undertaking computational science projects, for collaborative learning, and for context awareness in online learning. Laffey’s most recent work has been the development of iSocial, a 3D VLE for youth with Autism Spectrum Disorders. Laffey is currently leading a team of researchers and developers to create Mission HydroSci, a game-based 3D virtual learning system, with funding from the i3 Fund of the Department of Education.
		        	</p>
		      </div>
		    </div>
		  </div>
		</div>


		<!----------------------------------- Team Member Cards ----------------------------------->

		<div class="card mb-3">
		  <div class="row no-gutters">
		    <div class="col-md-4">
		      <img src="images/HS - JohnBruno.jpg" class="card-img-top" alt="...">
		    </div>
		    <div class="col-md-8">
		    	<div class="card-body">
		      		<h5 class="card-title">John Bruno, PhD</h5>
		        	<h6 class="card-subtitle mb-2 text-muted">Autism Specialist</h6>
		        	<p class="card-text">
					Dr. Bruno has provided support for individuals with disabilities and for those who serve them since 1986.  His experience spans the life spectrum from conducting research with pre-kindergarten students with disabilities all the way through supporting university professionals that are advising individuals on the autism spectrum.  He has presented at national and international professional conferences and guided numerous graduate student research projects addressing individuals with disabilities at Florida State University and St. Leos College.  
					</p><p>
					He currently consults nationally, is an adjunct faculty member with two institutions, and is an administrator for the Special School District of St. Louis as an Autism Specialist.  In the Autism Specialist role he provides support and training for teachers, job coaches, administrators, and staff working with individuals with autism.  Dr. Bruno received his Masters and Ph.D. at the University of Illinois, Urbana-Champaign. He has co-written a book on the topic of Autism for parents, general education teachers, and special education teachers.
		        	</p>
		      </div>
		    </div>
		  </div>
		</div>

		<!----------------------------------- END ----------------------------------->

	</main>
	<!-- BOOTSTRAP:  Required Links -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
	<div>
</body>
</html>

