	<footer class="page-footer bg-dark">
		<div class="container-fluid pb-5 pt-5 text-center text-md-left">
			<div class="row">
				<div class="col-md-2 mb-md-0 d-md-none d-lg-none d-xl-none mb-3 ">
					<a class="navbar-brand" href="index.html"><img src="images/LOGO - NSD Small.svg" height="60" class="d-inline-block align-top" alt=""></a>
				</div>
				<div class="col-md-2 offset-md-1 col-lg-2 offset-lg-2 col-xl-2 offset-xl-2  mb-md-0 mb-3">
					<h5><a href="company.html" class="text-white">Company</a></h5>
				</div>
				<div class="col-md-2 mb-md-0 mb-3">
					<h5><a href="team.html" class="text-white">Team</a></h5>
				</div>
				<div class="col-md-2 mb-md-0 mb-3">
					<h5><a href="partners.html" class="text-white">Partners</a></h5>
				</div>
				<div class="col-md-2 mb-md-0 mb-3">
					<h5><a href="product.html" class="text-white">Products</a></h5>
			        <ul class="list-unstyled">
			          <li>
			            <a href="product01.html" class="text-white">PANDA</a>
			          </li>
			          <li>
			            <a href="product02.html" class="text-white">Routine Success</a>
			          </li>
			          <li>
			            <a href="product03.html" class="text-white">iSocial</a>
			          </li>
			          <li>
			            <a href="product04.html" class="text-white">iSocial Adventures</a>
			          </li>
			        </ul>
				</div>
				<div class="col-md-2 mb-md-0 mb-3">
					<h5><a href="contact.html" class="text-white">Contact</a></h5>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 mb-md-0 mb-3 text-center">
					<a href="https://www.facebook.com/isocialhome/" target="_new"><img src="images/icon-facebook.svg" class="d-inline-block align-middle p-3" alt=""></a>
					<!-- 
					<a href="http:///www.twitter.com" target="_new"><img src="images/icon-twitter.svg" class="d-inline-block align-middle p-3" alt=""></a>
					<a href="http:///www.instagram.com" target="_new"><img src="images/icon-instagram.svg" class="d-inline-block align-middle p-3" alt=""></a>
					<a href="http:///www.linkedin.com" target="_new"><img src="images/icon-linkedin.svg" class="d-inline-block align-middle p-3" alt=""></a>
					<a href="http:///www.youtube.com" target="_new"><img src="images/icon-youtube.svg" class="d-inline-block align-middle p-3" alt=""></a>
				-->
				</div>
			</div>
		<div class="footer-copyright text-center py-3">© 2019 Copyright: Nascent Stage Development</a></div>
	</footer>
	<!-- BOOTSTRAP:  Required Links -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
	<!-- BOOTSTRAP:  Required Links -->