		<hr />
		<h5>We develop radically improved interventions for people with autism while not inventing anything new. We have the exclusive rights to patented university research and greatly improve it by partnering with existing products and platforms.</h5>
		<h5>Examples include the Unity virtual reality gaming platform used in games like Fortnite, iPads, iPhones, smart watches, the 5G Network, YouTube video and much more. We didn’t invent the iPAD but we can use it to scan 8 million babies a year for autism.</h5>
		<hr />